 <main>
        <h2>Novedades</h2>
        <hr>
        <div>
            <form action="/novedades" method="get">
                <input type="text" placeholder="Buscar"  name="q" {{#if q}} value="{{q}}" {{/if}}>
                <button type="submit">Buscar</button>
            </form>
        </div>
        <hr>
        <div class="evento">
        {{#each novedades}}
            <h2>{{titulo}}</h3>
            <h3>{{subtitulo}}</h4>
            <p>{{cuerpo}} </p>
            <hr>
        {{/each}}
        </div>
        {{#if is_search}}
        {{#unless novedades.length}}
        <p>No se encontraron novedades para "<b>{{q}}</b>"</p>
        {{/unless}}
        {{/if}}
    </main>